:root {
	--color-background: #eceff1;
	--color-text: #333333;
	--color-primary: #36464f;
	--color-primary-highlight: #455a64;
	--color-primary-text: #f8f8ff;
	--color-details: #808080;
	--color-details-light: #d3d3d3;
}

body {
	background-color: var(--color-background);
}

*,
*:before,
*:after {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	box-sizing: border-box;
	color: var(--color-text);
}

button {
	padding: 0.5rem 1rem;
	border-radius: 100rem;
	border: none;
	cursor: pointer;
	transition: background-color 0.25s ease-in-out;
	background-color: var(--color-primary);
	color: var(--color-primary-text);
}

button:hover {
	background-color: var(--color-primary-highlight);
}
