.background-modal {
	position: fixed;
	inset: 0;
	z-index: 2;
	backdrop-filter: blur(10px);

	visibility: hidden;
	opacity: 0;
	transition: all 0.25s ease-in-out;
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	height: min(100% - 5rem, 45rem);
	width: min(100% - 5rem, 30rem);
	padding: 2rem 1rem;
	border-radius: 0.5rem;
	overflow-y: auto;
	background-color: var(--color-background);
	border: 1px solid var(--color-details);
	margin: auto;
}

.modal > .close-button {
	position: absolute;
	top: 1rem;
	right: 1rem;

	background-color: transparent;
	color: var(--color-primary);
	font-weight: bold;
	font-size: 1rem;
	user-select: none;
}

.modal h2 {
	margin: 1rem 0;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--color-primary);
}

.modal .input {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
}

.modal .input > input {
	width: 100%;
	padding: 0.5rem 0.75rem;
	border-radius: 100rem;
	border: 1px solid var(--color-details);
}

.modal .input > * {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.modal hr {
	width: 100%;
	border: 1px solid var(--color-details);
	border-top: none;
}
