.schedule {
	width: min(100%, 70rem);
	height: clamp(35rem, 100dvh - 5rem, 45rem);
	margin: 0 auto;
	padding: 1rem 0;
	background-color: var(--color-background);
	overflow-x: auto;

	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns: min-content minmax(50rem, 1fr);
}

.empty {
	position: sticky;
	left: 0;
	z-index: 1;

	background-color: inherit;
	border-right: 1px dashed var(--color-details);
}

.times-column {
	position: sticky;
	left: 0;
	z-index: 1;

	background-color: inherit;
	border-right: 1px solid var(--color-details);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.times-column > .time {
	padding: 0 1rem;
	font-size: 0.75rem;
}

.days-row {
	padding: 0.5rem 0;

	display: flex;
	flex-direction: row;
}

.days-row > .day {
	width: 100%;
	padding-bottom: 0.5rem;
	text-align: center;
	font-size: 0.875rem;
}

.classes-grid {
	display: flex;
	flex-direction: row;
	padding: calc(0.75rem / 2) 0;
}

.days-row,
.classes-grid {
	padding-right: 1rem;
}

.classes-grid > .day-column {
	width: 100%;
	height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.classes-grid > .day-column > hr {
	border: 1px solid var(--color-details-light);
	border-top: none;
}

.classes-grid > .day-column::before {
	content: "";
	position: absolute;
	inset: calc(-0.75rem / 2) 0;
	z-index: 0;

	border-right: 1px solid var(--color-details);
}

.classes-grid > .day-column > .time-span {
	position: absolute;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
}

.class-card {
	width: 100%;
	height: 100%;
	padding: 1rem;
	border-radius: 0.5rem;
	overflow: hidden;
	border: 1px solid var(--color-details);
	background-color: var(--color-details-light);

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.class-card > .name {
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
}

.class-card > .teacher {
	font-size: 0.875rem;
	text-align: center;
}
